.searchGrid {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.searchGrid input {
  width: 50%;
  border-radius: 8px;
  height: 30px;
  padding-left:1rem;
}

.searchGrid svg {
  position: relative;
  left: 50%;
  top: 5px;
}
